<!DOCTYPE html>
<html>
    <head>
        <%- include('./partials/head'); %>
    </head>
    <body>
        <!-- <center><img src="flogo.webp" height :"150" width:"150" alt:"viz_logo" /></center> -->
        <div class="container">
            <div class="row">
                <center><img src="autopilot.jpg" alt="centered image" /></center>
            </div>
            <div class="dotted-gradient"></div>
            <table class="table">
                <tbody>
                    <% projects.forEach(function(project){ %>
                        <tr class="row project">
                            <td>
                                <tr>
                                    <th class="col-1">Idea:</th>
                                    <td class="col-4">
                                        <a href="/projects/<%= project.id%>">
                                            <%= project.idea %>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="col-1">Name:</th>
                                    <td class="col-4"><%= project.name %></td>
                                </tr>
                                <tr>
                                    <th class="col-1">Market:</th>
                                    <td class="col-4"><%= project.market %></td>
                                </tr>
                                <tr>
                                    <th class="col-1">Continent:</th>
                                    <td class="col-4"><%= project.continent %></td>
                                </tr>
                                <tr>
                                    <th class="col-1">Country:</th>
                                    <td class="col-4"><%= project.country %></td>
                                </tr>
                            </td>

                        </tr>
                    <% }); %>
                </tbody>
            </table>
            <div class="dotted-gradient"></div>
        </div>
    </body>
</html>
