<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
    <script>
      document.getElementById("current_date").innerHTML = Date();
    </script>
  </head>

  <body>
    <br />
    <div class="container">
      <header>
        <%- include('../partials/top-nav'); %> <%-
        include('../partials/autopilot'); %>
      </header>
      <br />
      <div class="row">
        <div class="col">
          <div class="dotted-gradient"></div>
        </div>
      </div>

      <table class="table table-borderless">
        <tbody>
          <% projects.forEach(function(project){ %>
          <tr class="row project">
            <td>
              <tr>
                <th class="col-1">IDEA:</th>
                <td class="col-4">
                  <a href="/projects/<%= project.id%>"> <%= project.idea %> </a>
                </td>
              </tr>
              <tr>
                <th class="col-1">NAME:</th>
                <td class="col-4"><%= project.name %></td>
              </tr>
              <tr>
                <th class="col-1">MARKET:</th>
                <td class="col-4"><%= project.market %></td>
              </tr>
              <tr>
                <th class="col-1">CONTINENT:</th>
                <td class="col-4"><%= project.continent %></td>
              </tr>
              <tr>
                <th class="col-1">COUNTRY:</th>
                <td class="col-4"><%= project.country %></td>
              </tr>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
      <div class="dotted-gradient"></div>
      <div id="current_date">
        <script>
          document.getElementById("current_date").innerHTML = Date();
        </script>
      </div>
    </div>
  </body>
</html>
